* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Import */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap");

/* body */
body {
  font-family: "Prompt", sans-serif;
  background-color: lightgray;
}
.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: rgb(101, 101, 255);
}
a:hover {
  text-decoration: underline;
}
/* Header */
.hero-title {
  text-align: center;
  margin: 15px 0;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255, 72, 0);
  text-shadow: 0 2px 4px rgb(241, 123, 13);
}

.site-header {
  background-color: white;
}

.header-inner {
  display: flex;
  justify-content: space-between;

  padding: 15px 0;
  align-items: center;
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.site-subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: gray;
}
.social-icons a {
  font-size: 1rem;
  font-weight: 600;
  color: gray;

  border: 2px solid gray;
  border-radius: 50%;

  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transition: transform 0.3s ease;
}
.social-icons a:hover {
  color: white;
  background-color: rgba(240, 111, 6, 0.992);
  border: 2px solid rgba(245, 184, 15, 0.992);
  transform: translateY(-10px);
}
.main-nva {
  background-color: rgb(250, 176, 40);
}
.nav-manu {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.nav-manu li a {
  color: #fff9f9;
  font-size: 0.9em;
  display: block;
  padding: 10px 15px;
}
.nav-manu a:hover {
  background: linear-gradient(135deg, rgb(255, 102, 1), rgb(238, 144, 20));
  transform: scale();
  font-weight: 600;
  box-shadow: 0 4px 15px rgb(51, 49, 49);
  padding: 10px 20px;
  border-radius: 8px;
}
.nav-manu li a.active {
  background-color: rgb(247, 162, 4);
}
/* Hero */
.hero-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(350px, 1fr));

  /*
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    */
}
.hero-title {
  text-align: center;
  margin: 5px 0;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255, 72, 0);
  text-shadow: 0 2px 4px rgb(241, 123, 13);
}
.hero-content {
  background-color: rgb(171, 171, 172);
  padding: 20px 10px;
  box-shadow: 0 2px 8px rgba(224, 186, 104, 0.1);
}
.hero-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(224, 137, 7, 0.1);

  backdrop-filter: blur(10px);
  /* เพิ่มความเบลอพื้นหลังด้านหลังไอเท็ม */

  transition: all 0.3s ease;

  /*overflow: hidden; /* ซ่อนส่วนที่เกินขอบเขตของกล่อง */
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: white;
}

.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-item .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1e8bc3;

  display: inline-block;
}

.hero-item .read-more:hover {
  color: #764ba2;
  text-decoration: none;
}

.hero-item .read-more::after {
  content: "→";
  margin-left: 5px;

  transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
  margin-left: 10px;
}
